<!DOCTYPE html>
<html>
<head>
    <title>Model Comparison Results</title>
    <style>
        body {
            background-color: #5DADE2;
        }

        .container {
            width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: #F2F3F4;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        h1 {
            text-align: center;
        }

        img {
            display: block;
            margin: 0 auto;
            max-width: 600px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Model Comparison Results</h1>
    <h2>Comparison Graph:</h2>
    <img src="{{ comparison_graph_path }}" alt="Comparison Graph">
</div>
</body>
</html>
